@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);
* {
  font-family: "Open Sans", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #111;
  background-repeat: no-repeat;
}

.signupSection {
  /*background: url(https://source.unsplash.com/TV2gg2kZD1o/1600x800);*/
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 450px;
  text-align: center;
  display: flex;
  color: white;
  /* original : box-shadow: 3px 10px 20px 5px rgba(0, 0, 0, 0.5);*/
  box-shadow: 5px 10px 20px 2px rgba(54, 54, 54, 0.5);
}

.logo{
  text-align: center;
}

.info {
  width: 45%;
  background: rgba(20, 20, 20, 0.8);
  padding: 30px 0;
  border-right: 5px solid rgba(30, 30, 30, 0.8);
}
.info h2 {
  padding-top: 30px;
  font-weight: 300;
}
.info p {
  font-size: 18px;
}
.info .icon {
  font-size: 8em;
  padding: 20px 0;
  color: #0ab4b4;
}
.color-btn{
  color:#fff;
  content: 😎;
}
#login-btn{
  text-decoration: none;
  /* background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%); */
  background: #0ab4b4;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
  padding: 0 0.5rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all .5s;
}
#login-btn:hover {
  box-shadow: rgba(10, 50, 50, 0.8);
  transition-duration: .1s;
  background: rgb(20,20,20);
  background: rgba(20, 40, 40, 0.8)
}

.signupForm {
  width: 70%;
  /*padding: 30px 0;*/
  background: rgba(20, 40, 40, 0.8);
  transition: 0.2s;
}
.signupForm h2 {
  font-weight: 300;
}

.inputFields {
  margin: 15px 0;
  font-size: 16px;
  padding: 10px;
  width: 250px;
  border: 1px solid #0ab4b4;
  border-top: none;
  border-left: none;
  border-right: none;
  background: rgba(20, 20, 20, 0.2);
  color: white;
  outline: none;
  transition: all 0.5s ease;
}
.inputFields:focus{
  padding: 15px 9% 10px 10px;
  border: 1px solid #0ab4b4;
}

.noBullet {
  list-style-type: none;
  padding: 0;
}

#join-btn {
  border: 1px solid #0ab4b4;
  background: rgba(20, 20, 20, 0.6);
  font-size: 18px;
  color: white;
  margin-top: 20px;
  padding: 10px 50px;
  cursor: pointer;
  transition: 0.4s;
}
#join-btn:hover {
  border: 1px solid #fff;
  background: rgba(20, 40, 40, 0.8);
}